extends ../layout.pug
block page
  h1 Files for #{ folder }
  table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
    thead
      tr
        th.mdl-data-table__cell--non-numeric name
        th Folder/File
        th Modified
        th Size
    tbody
      if(files)
          each file in files
              - var link = file.dir ? '/files.hnxs/' + file.path : '/openFile/' + file.path
              tr
                  td.mdl-data-table__cell--non-numeric
                      a(href=link) #{ file.name }
                  td #{ file.dir ? 'folder' : 'file' }
                  td(style=('size="5px"')) #{ file.mtime }
                  td #{ file.size }
      else
          tr
              td.mdl-data-table__cell--non-numeric(colspan='3') No files found.
