h1 Files for #{ page_path }
table.mdl-data-table.mdl-js-data-table.mdl-data-table--selectable.mdl-shadow--2dp
  thead
    tr
      th.mdl-data-table__cell--non-numeric name
      th Folder/File
      th Modified
      th Size
  tbody
    if(files)
        each file in files
            tr
                td.mdl-data-table__cell--non-numeric
                    a(href='openFile?file={{ file.path }}') #{ file.name }
                td #{ file.dir ? 'folder' : 'file' }
                td #{ file.mtime }
                td #{ file.size }
    else
        tr
            td.mdl-data-table__cell--non-numeric(colspan='3') No files found.
